@model IEnumerable<Lab2.Models.ViewModels.MessageViewModel>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sender)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject) <br/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)<br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)<br />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>