@model Lab2.Models.ViewModels.MessageViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Detail</h2>

<div>
    <h4>MessageViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

    </dl>
</div>
