@model IEnumerable<Lab2.Models.ViewModels.SentMessageViewModel>

@{
    ViewBag.Title = "Sent";
}

<h2>Sent</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receivers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendTime)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Receivers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendTime)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
    </tr>
}

</table>
